[user]
	email = evanabonsignori@gmail.com 
	name = Evan Bonsignori
[core]
	excludesfile = /Users/evanbonsignori/.gitignore_global
[alias]
  renameTag = "!sh -c 'set -e;git tag $2 $1; git tag -d $1;git push origin :refs/tags/$1;git push --tags' -"
	upstream = !git push -u origin HEAD
  ad = "add -A"
	co = checkout
  com = "checkout master"
	br = branch
	ci = "commit -m"
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	ph = push
	pl = pull
	ll = log --oneline
  plMaster = pull origin/master
[merge]
	tool = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[pull]
	rebase = false
[init]
	defaultBranch = main
	templatedir = ~/.git_templates

